 <% const copyrightText = helpers.compilePartial(translations['copyright_text'], {translations : translations}) %>

 <!--========== FOOTER ==========-->
 <footer class="g-bg-color--dark">
    <div class="footer-content">
        <!-- Links -->
        <div class="g-hor-divider__dashed--white-opacity-lightest">
            <div class="container g-padding-y-80--xs">
                <div class="row">
                    <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                        <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="#home"><%= translations['home'] %></a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="#about"><%= translations['about'] %></a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="#contact"><%= translations['contact'] %></a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="#feedback"><%= translations['feedback'] %></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                        <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href=""><%= translations['twitter'] %></a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href=""><%= translations['facebook'] %></a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href=""><%= translations['instagram'] %></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 g-margin-b-32--xs g-margin-b-0--md">
                        <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="#subscribe"><%- translations['subscribe'] %></a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="#subscribe"><%- translations['privacy_policy'] %></a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="#subscribe"><%- translations['term_and_conditions'] %></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                        <h3 class="g-font-size-18--xs g-color--white"><%= translations['app_title'] %></h3>
                        <p class="g-color--white-opacity"><%- translations['about_us'] %></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Links -->

        <!-- Copyright -->
        <div class="container g-padding-y-50--xs">
            <div class="row">
                <div class="col-xs-6">
                    <a href="/home">
                        <img class="g-width-100--xs g-height-auto--xs" src="./static/img/logo.png" alt="Megakit Logo">
                    </a>
                </div>
                <div class="col-xs-6 g-text-right--xs">
                    <%- copyrightText %>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </div>
</footer>